<div
  class="pensamento {{ pensamento!.modelo }} ff-roboto-mono"
  [ngClass]="larguraPensamento()"
>
  <img src="/assets/{{ pensamento!.modelo }}.png" alt="Aspas coloridas" />
  <p class="conteudo">{{ pensamento!.conteudo }}</p>
  <p class="conteudo">
    <b>{{ pensamento!.autoria }}</b>
  </p>

  <div class="acoes">
    <button class="botao-editar">
      <button class="botao-favorito" (click)="atualizarFavoritos()">
        <img
          src="/assets/icone-favorito-{{ mudarIconeFavorito() }}.png"
          alt="Ícone favorito {{ mudarIconeFavorito() }}"
        />
      </button>
      <img
        src="/assets/icone-editar.png"
        alt="Ícone de editar"
        routerLink="/pensamentos/editarPensamento/{{ pensamento!.id }}"
      />
    </button>

    <button
      class="botao-excluir"
      routerLink="/pensamentos/excluirPensamento/{{ pensamento!.id }}"
    >
      <img src="/assets/icone-excluir.png" alt="Ícone de excluir" />
    </button>
  </div>
</div>
